.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-s);
  border-radius: var(--spacing-xs);
  border: none;
  margin-right: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);

  &:last-of-type {
    margin-right: 0;
    margin-bottom: var(--spacing-xs);
  }

  &:hover {
    cursor: pointer;
    opacity: 0.75;
  }
}

.link {
  background: none;
  border: none;
  padding: 0;
  color: rgba(var(--color-positive), 1);
  text-transform: none;
  padding-right: var(--spacing-s);
}

.outline {
  background: none;
  border: solid 1px rgba(var(--color-stable), 1);
}

.boxShadow {
  box-shadow: var(--shadow);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.active {
  border: solid 2px rgba(var(--color-energized), 1);
}