.icon {
  position: relative;

  svg {
    display: flex;
    width: 40px;
    height: auto;
  }
}

.icon-xl {
  svg {
    width: 150px;
  }
}

.icon-l {
  svg {
    width: 100px;
  }
}

.icon-m {
  svg {
    width: 75px;
  }
}

.icon-s {
  svg {
    width: 50px;
  }
}

.icon-xs {
  svg {
    width: 30px;
  }
}

.icon-xxs {
  svg {
    width: 20px;
  }
}

.icon-xxxs {
  svg {
    width: 15px;
  }
}

.icon-light {
  path {
    stroke: rgba(var(--color-light));
    stroke-width: 20px;
  }
}

.icon-balanced {
  svg {
    color: rgba(var(--color-balanced)); ;
    stroke: rgba(var(--color-balanced));
  }
}