@import "../../styles/mixins.scss";

.products {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  flex-wrap: wrap;
  gap: var(--spacing-l);
  height: 100%;

  @include small {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.product {
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.button {
  width: 80px;
  height: 128px;
  margin: 0;
}