.products {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-l);
  height: 100%;
}

.product {
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.button {
  width: 80px;
  height: 140px;
  margin: 0;
}