.products {
  display: flex;
}

.product {
  margin-left: var(--spacing-m);

  &:first-child {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: var(--spacing-m);
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.button {
  width: 140px;
  height: 140px;
}