.stores {
  display: flex;
}

.store {
  margin-left: var(--spacing-m);

  &:first-child {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: var(--spacing-m);
  }
}

.button {
  width: 140px;
  height: 140px;
}