.tile {
  position: relative;
  overflow: hidden;
  height: 120px;
  width: 120px;
}

.borderRadius {
  border-radius: var(--radius-m);
}

.padding {
  padding: var(--spacing-m);
}

.boxShadow {
  box-shadow: var(--shadow);
}

.overflow {
  overflow: inherit;
}

.header {
  padding: var(--spacing-m);
  border-bottom: solid 1px rgba(var(--color-stable), 1);
}

.body {
  padding: var(--spacing-m);
}

.footer {
  padding: var(--spacing-m);
  border-top: solid 1px rgba(var(--color-stable), 1);
}

.button {
  padding: var(--spacing-s);
}