.tile {
  position: relative;
  overflow: hidden;
  height: 80px;
  width: 80px;
}

.borderRadius {
  border-radius: var(--radius-m);
}

.padding {
  padding: var(--spacing-m);
}

.boxShadow {
  box-shadow: var(--shadow);
}

.overflow {
  overflow: inherit;
}