@import '../../styles/mixins.scss';

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 500px;
  margin-top: var(--spacing-l);
  border: solid 1px rgba(var(--color-stable), 1);


  @include medium {
    max-width: 250px;
    margin-top: 0;
  }

  @include large {
    max-width: 350px;
    margin-top: 0;
  }

}

.items {
  padding: var(--spacing-xl);
}

.item {
  margin-bottom: var(--spacing-l);

  &:last-child {
    margin-bottom: 0;
  }
}

.subtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px rgba(var(--color-stable), 1);
  padding: var(--spacing-xl);
}

.currency {
  display: flex;
  align-items: center;
}

.iconCurrency {
  display: flex;
  align-items: center;
  margin-left: var(--spacing-xs);
}

.button {
  border-radius: 0;
  background: #512da8;
}

.payment {
  width: 100%;
  display: flex;
}