.storeForm {
  display: flex;
  flex-direction: column;
  margin-left: var(--spacing-m);
}

.tile {
  width: 205px;
  height: auto;
  padding: var(--spacing-m);
}

.actions {
  display: flex;
  justify-content: center;
}

.save,
.remove {
  padding: var(--spacing-s) var(--spacing-xs);
}