.storeForm {
  display: flex;
  flex-direction: column;
}

.tile {
  width: 300px;
  height: auto;
}

.actions {
  display: flex;
  justify-content: center;
}

.save,
.remove {
  padding: var(--spacing-s) var(--spacing-xs);
}