.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: dashed 1px rgba(var(--color-stable), 1);
  border-radius: var(--radius-m);
  min-height: 440px;
}

.title {
  margin: var(--spacing-m) 0 var(--spacing-xs);
}