.productOverview {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product {
  display: flex;
}

.wrapper {
  margin-left: var(--spacing-m);
}

.currency {
  display: flex;
  align-items: center;
  justify-content: start;
}

.iconCurrency {
  display: flex;
  align-items: center;
  margin-left: var(--spacing-xs);
}

.title {
  overflow: hidden;
  max-width: 14ch;
  text-overflow: ellipsis;
  white-space: nowrap;
}