.store {
  position: relative;
}

.tile {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 200px;
  height: 140px;
  border: solid 1px rgba(var(--color-stable), 1);
}

.wrapper {
  padding-top: var(--spacing-l);
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--spacing-s);
  z-index: 1;
}