.productForm {
  display: flex;
  flex-direction: column;
  margin-left: var(--spacing-m);
}

.tile {
  width: 300px;
  height: auto;
}

.field {
  margin-bottom: var(--spacing-m);

  &:last-child {
    margin-bottom: 0;
  }
}

.actions {
  display: flex;
  justify-content: center;
}


// .save,
// .remove {
//   padding: var(--spacing-s) var(--spacing-xs);
// }