@import "../styles//mixins.scss";

.wrapper {
  display: flex;
  gap: var(--spacing-m);
  width: 100%;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-l);

  @include large {
    flex-direction: row;
  }
}

.analytics {
  display: flex;
  gap: var(--spacing-xxl);
}

.transactions {
  width: 100%;
}

.chart {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: none;
}