@import "../styles//mixins.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  width: 100%;

  @include medium {
    flex-direction: row;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-l);

  @include large {
    flex-direction: row;
  }
}

.analytics {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);

  @include medium {
    flex-direction: row;
  }
}

.chartWrapper {
  width: 100%;

  @include medium {
    width: 1100px;
  }
}

.transactions {
  width: 100%;
}

.chart {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: none;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include medium {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.snackbar {
  width: 100%;

  @include small {
    width: 350px;
  }
}